{% extends "base.html" %}
{% block content %}

{#
<script type="text/javascript">
  // function download1()
  // {
    // console.log('hello');
    // window.location.href = "{{ url_for('download',fullpath=item)}}"

    // window.location.reload(1);

    // setTimeout(function(){
    // window.location.reload(1);
    // }, 5000);
  // }
</script>
#}



<div class="grid-item">

  <div class="row_iti">
    <a class="fs-5 rounded-6 shadow-0-strong btn btn-dark"  href="{{ url_for(category) }}">
      <div class="w-100 h-100 d-flex align-items-center justify-content-center">
        <i class="fas fa-arrow-left-long"></i>
      </div>
    </a>
    <div class="head text-white text-center fs-1">
      <div class="w-100 h-100 d-flex align-items-center justify-content-center">
        <i class="fas fa-skull-crossbones"></i>
        <div class="space"></div> 
        \ ITEM
      </div>
    </div>
  </div>


  <div class="fs-5 text-white text-break">
    {{item}}
  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% else %}
    <ul class=flashes></ul>
  {% endif %}
  {% endwith %}


  <!-- <a onclick="download1();">hello</a> -->

  <!-- <a class="h4rem fs-5 rounded-6 shadow-5-strong btn btn-primary " onclick="download1();"> -->
  <a class="h4rem fs-5 rounded-6 shadow-5-strong btn btn-primary " href="{{ url_for('download',fullpath=item)}}">   
    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-download"></i>
      <div class="space"></div> 
      DOWNLOAD
    </div>

  </a>
  <!-- onclick="download1()"> -->
  <!-- href="{{ url_for('download',fullpath=item)}}"> -->



</div>



{% endblock %}