

body{
	width: 100vw;
	height: 100vh;
	height: calc(100vh - 6rem);

	/* padding-top: 0rem; */
	/* padding-bottom: 6rem;  */
	/* transition: 0.5s; */
	/* transition-timing-function: ease-in-out; */

	/* animation-name: bodyanim; */
	/* animation-duration: 5s; */
	/* background-color: rgba(0, 0, 0, 0.0); */
}




.grid{
	width: 100%;
	height: 100%;
	gap: 1rem;
	padding: 1rem;
	display: grid;
	grid-template-rows: repeat(auto-fill, 4rem);
	grid-template-columns: 1fr;
}

.grid-item{
	width: 100%;
	height: 100%;
	gap: 1rem;
	padding: 1rem;
	display: grid;
	grid-template-rows: 4rem 1fr 4rem;
	grid-template-columns: 1fr;
}

.grid-form{
	width: 100%;
	height: 100%;
	gap: 1rem;
	padding: 0rem;
	display: grid;
	grid-template-rows: repeat(4, 4rem);
}

.row_2{
	width: 100%;
	height: 100%;
	gap: 1rem;
	padding: 0rem;
	display: grid;
	grid-template-rows: 1fr; 
	grid-template-columns: repeat(2, 1fr);
}

.row_2q{
	width: 100%;
	height: 100%;
	gap: 1rem;
	padding: 0rem;
	display: grid;
	grid-template-rows: 1fr; 
	grid-template-columns: 4rem 1fr;
}

.row_3{
	width: 100%;
	height: 100%;
	gap: 1rem;
	padding: 0rem;
	display: grid;
	grid-template-rows: 1fr; 
	grid-template-columns: repeat(3, 1fr);
}

.row_4{
	width: 100%;
	height: 100%;
	gap: 1rem;
	padding: 0rem;
	display: grid;
	grid-template-rows: 1fr; 
	grid-template-columns: repeat(4, 1fr);
}

.h4rem{
	height: 4rem !important;
}

.space{
	width: 10px;
}

.btn{
	transition: 0.4s;
	transition-timing-function: ease-in-out;
}


.btn:hover{
	filter: brightness(125%);
}



