{% extends "base.html" %}
{% block content %}


<div class="grid">

  <div class="row_2h ">
    <a class="fs-5 rounded-6 shadow-0-strong btn btn-dark"  href="{{ url_for('logout') }}">
      <div class="w-100 h-100 d-flex align-items-center justify-content-center">
        <i class="fas fa-xmark"></i>
      </div>
    </a>
    <div class="head text-white text-center fs-1">
      <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-skull-crossbones"></i>
      <div class="space"></div>
      \ CP
      </div>
    </div>
  </div>


   <a class="fs-5 rounded-6 shadow-5-strong btn btn-primary "  href="{{ url_for('ITEMS') }}">
    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-film"></i>
    <div class="space"></div>
    ITEMS (MKV/MP4s)
    </div>
  </a>

  <!-- error when @ is in jinja... so @ was removed -->
  {% if email == 'jgarza9788gmail.com' %}
  <a class="fs-5 rounded-6 shadow-5-strong btn btn-primary "  href="{{ url_for('VPN') }}">
    <!-- style="background-color: #F44336;"> -->
    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-shield"></i>
    <div class="space"></div>
    VPN
    </div>
  </a>
  {% endif %}

  <!-- 
  <button type="button" class="fixed-action-btn">
    <i class="fas fa-gem"></i>
  </button> 
  -->

</div>




{% endblock %}