{% extends "base.html" %}
{% block content %}


<div class="grid">
  <!-- <div class="head text-white text-center fs-1">
    <i class="fas fa-skull-crossbones"></i>
    \ CP
  </div> -->

  <!-- <a class="fs-5 rounded-6 shadow-0-strong btn btn-dark"  href="{{ url_for('logout') }}">
    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-xmark"></i>
      <div class="space"></div>
      Logout
    </div>
  </a> -->

  <div class="row_2">
    <a class="fs-5 rounded-6 shadow-0-strong btn btn-dark"  href="{{ url_for('logout') }}">
      <div class="w-100 h-100 d-flex align-items-center justify-content-center">
        <i class="fas fa-xmark"></i>
        <div class="space"></div>
        Logout
      </div>
    </a>
    <div class="head text-white text-center fs-5">
      <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-skull-crossbones"></i>
      \ CP
      </div>
    </div>
  </div>


  <!-- <a class="fs-5 rounded-6 shadow-5-strong btn btn-primary"  href="{{ url_for('MOVIES') }}">
    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-film"></i>
    <div class="space"></div>
    Movies
    </div>
  </a> -->

  <!-- <a class="fs-5 rounded-6 shadow-5-strong btn btn-primary"  href="{{ url_for('SHOWS') }}">
     <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-tv"></i>
     <div class="space"></div>
     Shows
     </div>
   </a> -->

   <!-- <a class="fs-5 rounded-6 shadow-5-strong btn btn-primary"  href="{{ url_for('INPROGRESS') }}">
     <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-bars-progress"></i>
     <div class="space"></div>
     In Progress
     </div>
   </a> -->

   <a class="fs-5 rounded-6 shadow-5-strong btn btn-primary"  href="{{ url_for('ITEMS') }}">
    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-film"></i>
    <div class="space"></div>
    ITEMS (MKV/MP4s)
    </div>
  </a>
  
  <a class="fs-5 rounded-6 shadow-5-strong btn btn-primary"  href="{{ url_for('VPN') }}">
    <!-- style="background-color: #F44336;"> -->
    <div class="w-100 h-100 d-flex align-items-center justify-content-center">
      <i class="fas fa-shield"></i>
    <div class="space"></div>
    VPN
    </div>
  </a>

  <!-- 
  <button type="button" class="fixed-action-btn">
    <i class="fas fa-gem"></i>
  </button> 
  -->

</div>




{% endblock %}