{% extends "base.html" %}
{% block content %}


<script>

  let s = document.getElementById("search-input");


  $(document).ready(function(){
      s = document.getElementById("search-input");

  });


  function focus_search(){
      s.focus();
  }

  function clear_search(){
      s.value = "";
      window.location =  window.location.origin + "/ITEMS"
  }

  function on_search(){
      console.log(s.value);
      console.log(window.location.origin + "/ITEMSQ/" + s.value);
      
      setTimeout(function(){

          window.location =  window.location.origin + "/ITEMSQ/" + s.value;

          }
          ,500
      );
  }



</script>

<div class="grid">


    <div class="row_2">
      <a class="fs-5 rounded-6 shadow-0-strong btn btn-dark"  href="{{ url_for('controlpanel') }}">
        <div class="w-100 h-100 d-flex align-items-center justify-content-center">
          <i class="fas fa-arrow-left-long"></i>
          <div class="space"></div> 
          Back
        </div>
      </a>
      <div class="head text-white text-center fs-5">
        <div class="w-100 h-100 d-flex align-items-center justify-content-center">
          <i class="fas fa-skull-crossbones"></i>
          \ {{ title }}
        </div>
      </div>
    </div>

  <div class="row_2q"> 
    <!-- <a onclick="" class="w-100 h-100 fs-5 rounded-6 shadow-5-strong btn btn-danger">
      <div class="d-flex align-items-center justify-content-center">
      <i class="fas fa-square-xmark"></i>
      </div>
    </a> -->

    <a onclick="clear_search()"  class="fs-5 rounded-6 shadow-5-strong btn btn-danger" >
      <div class="w-100 h-100 d-flex align-items-center justify-content-center">
        <i class="fas fa-square-xmark"></i>
      </div>
    </a>


    <input id="search-input" class="fs-5 rounded-6 search-input text-color" type="text" onchange="on_search()" value="{{query}}" />
    
    <!-- <a onclick="clear_search()" class="tool-btn btn-floating btn-flat waves-effect waves-color text-color"><i class="mdi mdi-close-thick text-color"></i></a> -->
  </div>
  
  {% for item in item_list %}

    <!-- <a class="h4rem rounded-6 shadow-5-strong btn btn-primary" href="{{ url_for('ITEM',category=category,fullpath=item['fullpath'])}}"> -->

      <!-- <div class="d-flex align-items-center justify-content-left">
      <span class="d-inline-block text-truncate text-capitalize" style="max-width: calc(100vw - 6rem)">
        {{ item['file'] }}
      </span>
      </div> -->

      <!-- <span class="d-inline-block text-truncate text-capitalize" style="max-width: calc(100vw - 6rem)">
        <div class="fs-5 text-white">
          {{ item['file'] }}
        </div> -->
        <!-- <br />
        <div class="fs-10 text-white-50">
          {{ item['fullpath'] }}
        </div> -->
      <!-- </span> -->


      <!-- <br />
      <span class="fs-20 d-inline-block text-truncate text-capitalize" style="max-width: calc(100vw - 6rem)">
      {{ item['fullpath'] }}
      </span> -->
      
    <!-- </a> -->

    <a class="h4rem rounded-6 shadow-5-strong btn btn-primary" href="{{ url_for('ITEM',category=category,fullpath=item['fullpath'])}}">
      <div class="text-truncate text-capitalize" style="max-width: calc(100vw - 6rem)">
        <span class="fs-5 ">
          {{ item['file'] }}
        </span>
        <br/>
        <span class="fs-10 text-white-50">
          {{ item['fullpath'] }}
        </span>
      </div>
      </a>


  {% endfor %}


</div>


{% endblock %}