{% extends "base.html" %}
{% block content %}




<div class="files-grid mxw500">


<script>
    const FileModal = document.getElementById('FileModal')
    if (FileModal) {
    FileModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const file = button.getAttribute('data-bs-file')
        const fullpath = button.getAttribute('data-bs-fullpath')
        // If necessary, you could initiate an Ajax request here
        // and then do the updating in a callback.

        // Update the modal's content.
        const modalTitle = FileModal.querySelector('.modal-title')
        const modalBody = FileModal.querySelector('.modal-body')
        const downloadbtn = FileModal.querySelector('#downloadbtn')

        modalTitle.textContent = 'Download File?'
        modalBody.innerHTML = 'file: '+ file + '<br/><br/>' + 'fullpath: ' + fullpath 
        downloadbtn.href = '/download/' + encodeURIComponent(fullpath) 
        
    })
    }
</script>

<script>

  // let s = document.getElementById("search-input");
  // const s = document.getElementById("search-input");


  $(document).ready(function(){
      s = document.getElementById("search-input");
      // console.log(s);
      // console.log(s.value);
      // console.log($('#search-input').ge);

  });


  function focus_search(){
    s = document.getElementById("search-input");
    s.focus();
  }

  function clear_search(){
    s = document.getElementById("search-input");
    s.value = "";
    window.location =  window.location.origin + "/movies"
  }

  function on_search(){
    s = document.getElementById("search-input");
    console.log(s.value);
    console.log(window.location.origin + "/movies/" + s.value);

    url = window.location.origin + "/movies/" + s.value;
    
    setTimeout(function(){

        // window.location =  window.location.origin + "/movies/" + s.value;
        window.location = url;

        }
        ,500
    );
  }

</script>


<div class="search-box card-color"> 
  <!-- <a onclick="focus_search()" class="btn btn-primary m-0 p-0 fs-1">
    <i class="mdi mdi-magnify"></i>
  </a> -->
  <a href="{{ url_for('movies') }}" class="btn btn-secondary fs-4 icon-only w-100 h-100">
    <!-- <i class="mdi mdi-close-thick"></i> -->
    <!-- <i class="bi bi-x"></i> -->
    <i class="nf nf-cod-close"></i>
    <!-- x -->
  </a>
  <!-- <a type="button" class="bg-secondary btn-close"></a> -->
  <input id="search-input" class="text-color rounded-3 border border-0 w-100 h-100" type="text" onchange="on_search()" value=""/> 
  <!-- value="{{query}}" />  -->

  <!-- <a onclick="clear_search()" class="btn btn-primary">
    <i class="mdi mdi-close-thick"></i>
  </a> -->
</div>



{% for item in item_list %}
<button type="button" class="btn btn-primary text-truncate text-capitalize h4r" data-bs-toggle="modal" data-bs-target="#FileModal" data-bs-file="{{ item['file'] }}" data-bs-fullpath="{{ item['fullpath'] }}">
  <div class="fs-5 text-start filename">
    {{ item['file'] }}
  </div>
  <div class="fs-10 text-start fullpath">
    {{ item['fullpath'] }}
  </div>
</button>
{% endfor %}


<a class="btn blur-background-filter">
  <div class="text-white">
    <span class="fs-5 text-center filename">
      {{ item_list|length }} Items Above
    </span>
    <br/>
    <span class="fs-10 text-center fullpath">
      Search for More
    </span>
  </div>
</a>  

</div>




{% endblock %}


