

<style>
.grid-container {
  /* 
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-template-rows: 10rem 10rem 10rem;
  padding: 10px; 
  */
  /* display: grid;
  grid-template-columns: repeat(3, 10rem) 5rem repeat(3, 10rem);
  grid-template-rows: repeat(3, 1fr); */
  /* width: 500px;
  height: 200px;
  border: 1px solid; */
  /* height: 30rem; */
  /* width: 30rem; */
  /* display: inline; */
}

.circle{
    display: inline-block;
    height: 5rem;
    width:  5rem;
    border-radius: 100%;
    background-color: #2196F3;
    line-height: 5rem;
    text-align: center;
    vertical-align: middle;
}

.spacer{
    display: inline-block;
    width: 2.5rem;
    
}

.spacer2{
    display: inline-block;
    width: 5rem;
    
}

/* .circle {
  grid-column: 2/3;
  margin-left: -20px;
  margin-right: -80px;
  background: red;

  line-height: 10rem;
  text-align: center;
  vertical-align: middle;
} */
/* .circle-alt {
  grid-column: 2/3;
  grid-row:2;
  background: blue;

  line-height: 10rem;
  text-align: center;
  vertical-align: middle;
} */
</style>

<div class="grid-container">
    <div class="spacer2">.</div>
    <div class="circle">0</div>
    <div class="circle">1</div>
    <br/>
    <div class="spacer">.</div>
    <div class="circle">2</div>
    <div class="circle">3</div>
    <div class="circle">4</div>
    <br/>
    <div class="spacer2">.</div>
    <div class="circle">6</div>
    <div class="circle">7</div>
    <!-- <div class="circle">8</div> -->
</div>