{% extends "base.html" %}
{% block content %}



<script>
  $(document).ready(function() {
      $('#getVPNstatus').click(function() {
          $.ajax({
              url: '/getVPNstatus',
              type: 'POST',
              success: function(response) {
                  console.log('Success:',response);
                  updateVPNStatus(response);
              },
              error: function(error) {
                  console.log('Error:', error);
              }
          });
      });

      $('#REVPN').click(function() {
          $.ajax({
              url: '/activateVPN',
              type: 'POST',
              success: function(response) {
                  console.log('Success:',response);
                  updateVPNStatus(response);
              },
              error: function(error) {
                  console.log('Error:', error);
              }
          });
      });

      $('#KILLVPN').click(function() {
          $.ajax({
              url: '/killVPN',
              type: 'POST',
              success: function(response) {
                  console.log('Success:',response);
                  updateVPNStatus(response);
              },
              error: function(error) {
                  console.log('Error:', error);
              }
          });
      });
  });

  function updateVPNStatus(response)
  {
    console.log('updateVPNStatus();');
    var VPNON = document.getElementById("VPNON");
    var VPNOFF = document.getElementById("VPNOFF");
    if (response.VPN_ON == true)
    {
      VPNON.classList.remove('d-none');
      VPNOFF.classList.add('d-none');
    }
    else
    {
      VPNON.classList.add('d-none');
      VPNOFF.classList.remove('d-none');
    }
  }

</script> 



<div class="vpn-grid mxw700">
  <a class="fs-2 rounded-6 shadow-0-strong btn btn-dark" id="getVPNstatus" >
  <!-- href="{{ url_for('getVPNstatus') }}">  -->
      
    {% if VPN_ON %}

    <div id="VPNON" class="w-100 h-100 text-success d-flex align-items-center justify-content-center">
      VPN Status: ON
    </div>
    <div id="VPNOFF" class="w-100 h-100 text-danger d-flex align-items-center d-none justify-content-center">
      VPN Status: OFF
    </div>

    {% else %}

    <div id="VPNON" class="w-100 h-100 text-success d-flex align-items-center d-none justify-content-center">
      VPN Status: ON
    </div>
    <div id="VPNOFF" class="w-100 h-100 text-danger d-flex align-items-center justify-content-center">
      VPN Status: OFF
    </div>

    {% endif %}

  </a>

  <a id="REVPN" class="fs-2 rounded-6 shadow-5-strong btn btn-success" >
      <!-- href="{{ url_for('activateVPN') }}" style="background-color: #1B5E20;"> -->
    <div class="w-100 h-100 text-white d-flex align-items-center justify-content-center">
    <i class="mdi mdi-shield-sync"></i>
    <div class="space"></div>
    re-VPN
    </div>
  </a>

  <a id="KILLVPN" class="fs-2 rounded-6 shadow-5-strong btn btn-danger ">
    <!-- href="{{ url_for('killVPN') }}" style="background-color: #F44336;"> -->
    <div class="w-100 h-100 text-white d-flex align-items-center justify-content-center">
    <i class="mdi mdi-skull-crossbones"></i>
    <div class="space"></div>
    kill-VPN
    </div>
  </a>
</div>

{% endblock %}

